@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
    color: rgb(17, 16, 16);
  }

  body {
    background-color: rgb(249, 250, 251);
  }

  .header {
    background-color: rgba(231, 136, 63);
    color: #fff;
    text-align: center;
    height: 50px;
    padding-top: 10px;
  }

  .icon {
   text-align: right;
   margin: 20px 20px 0 0;
  }

  .icon .a-text {
    font-size: 1.2em;
    margin-left: 10px;
  }

  .icon .a-text:hover {
    color: rgba(231, 136, 63);
    animation-duration: 0.8s;
  }

  .submit {
    display: block;
    margin: 15px auto 30px auto;
    color: #fff;
    background: rgb(46, 154, 232);
    border-radius: 20px;
    width: 150px;
    height: 40px;
    font-size: 1.2em;
  }

  .submit:hover {
    background: rgba(231, 136, 63);
    transition-duration: 0.8s;
  }

  .keyword {
    text-align: center;
  }

  .keyword .word {
    width: 300px;
    border-radius: 20px;
    height: 30px;
  }

  .sortBox {
    width: 400px;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: auto;
    margin-bottom: 10px;
  }

  .sortBox a {
    font-size: 1.1em;
    border-bottom: 2px solid rgb(46, 154, 232);
  }

  .sortBox a:hover {
    transition-duration: 0.5s;
    border-bottom: 2px solid rgba(231, 136, 63);
  }

  .price {
    text-align: center;
  }

  .price select {
    width: 100px;
    height: 30px;
    border-radius: 10px;
  }

  .price p {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }

  .year {
    text-align: center;
  }

  .year select {
    width: 200px;
    height: 30px;
    border-radius: 10px;
  }

  .year p {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
  }

  .area {
    text-align: center;
  }

  .product-link {
    border: 1px solid #000;
    width: 700px;
    margin: auto;
    margin-bottom: 15px;
    background-color: #fff;
  }

  .product-link h2 {
    text-align: center;
    border-bottom: 1px solid #000;
    color: rgb(48, 48, 246);
  }

  .product-link h2:hover {
    color: rgba(231, 136, 63);
    transition-duration: 0.8s;
  }

  .flex-container {
    display: flex;
    justify-content: space-around;
  }

  .houseImg img {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(157, 190, 243);
    margin-top: 5px;
  }

  .houseSource {
    margin-top: 50px;
    width: 400px;
  }

  table {
    width: 400px;
  }

  table, tr, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
  }

  th {
    font-weight: normal;
    text-align-last: left;
    padding-left: 15px;
    width: 70px;
    background-color: rgb(216, 237, 230);
  }

  td {
    text-align: center;
  }


  footer {
    background-color: rgba(231, 136, 63);
    color: #fff;
    text-align: center;
    height: 80px;
  }

  .form {
    display: flex;
    justify-content: flex-end;
  }

  .like {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .container {
    width: 700px;
    margin: 30px auto 20px auto;
    border: 1px solid #000;
  }

  .houseName {
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #000;
  }

  .parent {
    display: flex;
    justify-content: space-around;
    width: 700px;
  }

  .slider {
    width: 300px;
    height: 300px;
  }

  .parent .houseName {
    border-bottom: 1px solid #000;
  }


  .key {
    text-align: center;
  }

  .list {
    text-align: center;
    width: 400;
    margin-bottom: 20px;
  }

  .title {
    text-align: center;
    margin: 20px 0;
  }
